<nav class="navbar">
  <div class="nav-inner">
    <div class="brand">
  <img class="brand-logo" src="/assets/images/logo.png" alt="Urdaneta City Library Logo">
  <span>Urdaneta City Library</span>
</div>


    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/history">History</a>
      <a href="/collections">Collections</a>
      <a href="/programs">Programs</a>
      <a href="/gallery">Gallery</a>
      <a href="/policies">Policies</a>
      <a href="/ask-a-librarian">Ask a Librarian</a>
      <a href="/contact">Contact</a>
    </div>
  </div>
</nav>
