<section class="page-header">
  <h1>Contact Us</h1>
  <p>Get in touch with Urdaneta City Library for inquiries and assistance.</p>
</section>

<section class="grid-2">
  <div class="card">
    <h2>Library Information</h2>

    <div class="info-list">
      <div class="info-item">
        <div class="info-label">Address</div>
        <div class="info-value">
          Urdaneta City Library, Urdaneta City, Pangasinan
        </div>
      </div>

      <div class="info-item">
        <div class="info-label">Phone</div>
        <div class="info-value">
          <a href="tel:+63">(+63)965 847 6223</a>
        </div>
      </div>

      <div class="info-item">
        <div class="info-label">Email</div>
        <div class="info-value">
          <a href="mailto:urdanetacitylibrary@gmail.com">ucpllibrary@gmail.com</a>
        </div>
      </div>

      <div class="info-item">
        <div class="info-label">Office Hours</div>
        <div class="info-value">
          Monday–Friday: 8:00 AM – 5:00 PM<br>
          Saturday-Sunday: Closed
        </div>
      </div>
    </div>

    <div style="margin-top:14px;">
      <a class="btn btn-primary" href="mailto:urdanetacitylibrary@gmail.com">Email the Library</a>
      <a class="btn btn-outline" href="/">Back to Home</a>
    </div>
  </div>

  <div class="card">
    <h2>Library Map Location</h2>
    <p class="muted" style="margin-top:-6px;">The Library is located at the pinned location. Click "View larger map" to furthur scan the area.</p>

    <div class="map-wrap">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2712.2701490250756!2d120.56589565271224!3d15.975510498450836!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33913fafb839aa15%3A0xdbadda7a676a7e8c!2sUrdaneta%20City%20Cultural%20%26%20Sports%20Center!5e0!3m2!1sen!2sus!4v1771570178096!5m2!1sen!2sus"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    
  </div>
</section>